extends layout
block content
  .row-offcanvas.row-offcanvas-left.cnt
    include accounting_sidebar
    #main
      .col-md-12
        .row
          .col-sm-6
            h1.page-title=__("Purchases")+" "+__(year)+(typeof customer != "undefined" ? " "+customer.name : "")
          .col-sm-6
            .pull-right.page-title
              label(for="changeyear")
                =__("Change year")
                !="&nbsp;&nbsp;"
              .btn-group(style="display:inline-block")
                a.btn.btn-primary(href="/"+global.settings.dbName+"/accounting/purchases/?year="+year + (typeof customer != "undefined" ? "&customer=" + customer.id : ""))=__(year)
                button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")#changeyear
                  span.caret
                ul.dropdown-menu
                  li
                    a(href="/"+global.settings.dbName+"/accounting/purchases/?year=ALL Years" + (typeof customer != "undefined" ? "&customer=" + customer.id : ""))=__("ALL Years")
                  each year in years
                    li
                      a(href="/"+global.settings.dbName+"/accounting/purchases/?year="+year+(typeof customer != "undefined" ? "&customer="+customer.id : ""))=year
        div
          - if (typeof msg !== "undefined" && typeof msg.e !== "undefined" && msg.e.length)
            .alert.alert-danger
              h4=__("There are some errors")
              ul
                - for(var a=0;a<msg.e.length;a++)
                  li=msg.e[a].m
          - if (typeof msg !== "undefined" && typeof msg.c !== "undefined" && msg.c.length)
            .alert.alert-success
              h4=__("There are some messages")
              ul
                - for(var a=0;a<msg.c.length;a++)
                  li=msg.c[a].m
        .container_overflow.container_overflow_margin
          - var subtotal = 0
          - var vat_amount = 0
          - var types_subtotals = {};
          table.table
            thead
              tr
                th.tabActions=__("Actions")
                th=__("Purchase number")
                th=__("Purchase date")
                th=__("Customer")
                th=__("Payment")
                th=__("Shipped to")
                th=__("Offer")
                th=__("Delivery date")
                th.text-right=__("Subtotal")
                th.text-right=__("VAT")
                th.text-right=__("Shipping costs")
                th.text-right=__("TOTAL")
                th=__("Type")
                th=__("Paid")
            tbody
              each x, index in result
                tr
                  td
                    div.btn-group
                      a.btn.btn-primary(href="/" + global.settings.dbName + "/accounting/print/purchase/?id=" + x._id)=__("Print")
                      button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
                        span.caret
                      ul.dropdown-menu
                        li
                          if !x.import
                            a(href="/"+global.settings.dbName+"/accounting/purchase/?id="+x._id)=__("Edit")
                          //a(href="/"+global.settings.dbName+"/accounting/purchase/new/?dup="+x._id)=__("Duplicate")
                          a(href="/" + global.settings.dbName + "/accounting/print/purchase/?id=" + x._id+(year ? "&year="+year : ""))=__("Print")
                          a(href="/" + global.settings.dbName + "/accounting/purchases/?id=" + x._id + "&del=1"+(year ? "&year="+year : ""))=__("Delete")
                  td
                    span.h3(style="margin-top:2px;display:inline-block;")
                      span(class=" label label-"+(typeof customer != "undefined" || parseInt(year)!=year ? "info" : x.doc_number==result.length-index ? "success" : "danger"))=x.doc_number
                  - dd = new Date(x.doc_date)
                  td=dd.getUTCDate()+"/"+(dd.getUTCMonth()+1)+"/"+dd.getUTCFullYear()
                  td
                    a(href="/"+global.settings.dbName+"/accounting/customers/"+x.doc_from._id)=x.doc_from.name
                  td=x.payment
                  td=x.destination
                  td=x.doc_number
                  - var dd=""
                  if x.delivery_date
                    - dd = x.delivery_date.getUTCDate()+"/"+(x.delivery_date.getUTCMonth()+1)+"/"+x.delivery_date.getUTCFullYear()
                  td=dd
                  td.text-right=x.subtotal
                  td.text-right=x.vat_amount
                  td.text-right=x.shipping_costs
                  td.text-right=x.total
                  - subtotal+= accounting.unformat(x.subtotal)*100
                  - vat_amount+= accounting.unformat(x.vat_amount)*100
                  if x.type && x.type_year
                    - if (!types_subtotals[x.type]) types_subtotals[x.type] = {}
                    - if (!types_subtotals[x.type][x.type_year]) types_subtotals[x.type][x.type_year] = {subtotal: 0, vat_amount: 0}
                    - types_subtotals[x.type][x.type_year].subtotal+= accounting.unformat(x.subtotal)*100
                    - types_subtotals[x.type][x.type_year].vat_amount+= accounting.unformat(x.vat_amount)*100
                  td
                    form.form-inline
                      select.form-control.input-sm(name="type" onchange="setType({req: {id:'"+x._id+"', col:'purchases'}, set:{type:this.value}})")
                        option(value="")="unset"
                        each t in types
                          option(value=t selected=x.type==t ? "selected" : undefined)=t
                      select.form-control.input-sm(name="type_year" onchange="setType({req: {id:'"+x._id+"', col:'purchases'}, set:{type_year:this.value}})")
                        option(value="")="unset"
                        each year in years
                          option(value=year selected=x.type_year==year ? "selected" : undefined)=year
                  td.text-center
                    input.form-control(type='checkbox' name="paid" checked=(x.paid=="true" ? "checked" : undefined) onclick="setType({req: {id:'"+x._id+"', col:'purchases'}, set:{paid:this.checked}})")
          table.table
            thead
              tr
                th.text-left=__("Year")
                th.text-left=__("Type")
                th.text-right=__("Subtotal")
                th.text-right=__("VAT")
                th.text-right=__("TOTAL")
            tbody
              tr
                td=year
                td="ALL"
                td.text-right=accounting.formatMoney(subtotal/100)
                td.text-right=accounting.formatMoney(vat_amount/100)
                td.text-right=accounting.formatMoney((subtotal/100)+(vat_amount/100))
              each t in types
                - for(var y in types_subtotals[t])
                  tr
                    td=y
                    td=t
                    td.text-right=accounting.formatMoney(types_subtotals[t][y].subtotal/100)
                    td.text-right=accounting.formatMoney(types_subtotals[t][y].vat_amount/100)
                    td.text-right=accounting.formatMoney((types_subtotals[t][y].subtotal/100)+(types_subtotals[t][y].vat_amount/100))
