#sidebar.sidebar-offcanvas
  .col-md-12
    h3=__("Accounting")
    ul.nav.nav-pills.nav-stacked
      li(class=global.settings.currenturl.indexOf('/accounting/customers/')>0 && global.settings.currenturl.indexOf('/accounting/customers/new/')==-1 ? "active" : undefined)
        a(href="/" + global.settings.dbName + "/accounting/customers/")=__("Customers")
      li(class=global.settings.currenturl.indexOf('/accounting/customers/new/')>0 ? "active" : undefined)
        a(href="/" + global.settings.dbName + "/accounting/customers/new/")=__("New customer")
      li(class=global.settings.currenturl.indexOf('/accounting/offers/')>0 ? "active" : undefined)
        a(href="/" + global.settings.dbName + "/accounting/offers/")=__("Offers")
      li(class=global.settings.currenturl.indexOf('/accounting/offer/')>0 ? "active" : undefined)
        a(href="/" + global.settings.dbName + "/accounting/offer/")=__("New offer")
      li(class=global.settings.currenturl.indexOf('/accounting/invoices/')>0 ? "active" : undefined)
        a(href="/" + global.settings.dbName + "/accounting/invoices/")=__("Invoices")
      li(class=global.settings.currenturl.indexOf('/accounting/invoice/')>0 ? "active" : undefined)
        a(href="/" + global.settings.dbName + "/accounting/invoice/")=__("New invoice")
      li(class=global.settings.currenturl.indexOf('/accounting/creditnotes/')>0 ? "active" : undefined)
        a(href="/" + global.settings.dbName + "/accounting/creditnotes/")=__("Credit Notes")
      li(class=global.settings.currenturl.indexOf('/accounting/creditnote/')>0 ? "active" : undefined)
        a(href="/" + global.settings.dbName + "/accounting/creditnote/")=__("New Credit Note")

      li(class=global.settings.currenturl.indexOf('/accounting/purchases/')>0 ? "active" : undefined)
        a(href="/" + global.settings.dbName + "/accounting/purchases/")=__("Purchases")
      li(class=global.settings.currenturl.indexOf('/accounting/purchase/')>0 ? "active" : undefined)
        a(href="/" + global.settings.dbName + "/accounting/purchase/")=__("New Purchase")
      li(class=global.settings.currenturl.indexOf('/accounting/import/purchases/')>0 ? "active" : undefined)
        a(href="/" + global.settings.dbName + "/accounting/import/purchases/")=__("Import Purchases")
