extends layout
block content
  h1.page-title=__("Customers")
  div
    if (typeof msg !== "undefined" && typeof msg.e !== "undefined" && msg.e.length)
      .alert.alert-danger
        h4=__("There are some errors")
        ul
          - for(var a=0;a<msg.e.length;a++)
            li=msg.e[a].m
    if (typeof msg !== "undefined" && typeof msg.c !== "undefined" && msg.c.length)
      .alert.alert-success
        h4=__("There are some messages")
        ul
          - for(var a=0;a<msg.c.length;a++)
            li=msg.c[a].m
  .container_overflow.container_overflow_margin
    table.table
      thead
        tr
          th.tabActions=__("Actions")
          th=__("Delegate")
          th=__("Brand")
          th=__("Type")
          th=__("Avnode")
          th=__("Country")
          th=__("Website")
          th=__("Contacts")
          th=__("Partnerships")
          th=__("Channels")
      tbody
        if result
          each x in result
            tr
              td
                div.btn-group
                  a.btn.btn-primary(href="/"+global.settings.dbName+"/invoices/?year=ALL%20Years&customer="+x._id)=__("Invoices")
                  button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
                    span.caret
                  ul.dropdown-menu
                    li
                      a(href="/" + global.settings.dbName + "/invoices/?year=ALL%20Years&customer=" + x._id)=__("Invoices")
                    li
                      a(href="/" + global.settings.dbName + "/offers/?year=ALL%20Years&customer=" + x._id)=__("Offers")
                    li
                      a(href="/" + global.settings.dbName + "/customer/?id=" + x._id)=__("Edit")
                    li
                      a(href="/"+global.settings.dbName+"/customers/?id="+x._id+"&del="+1)=__("Delete")
              td=x.delegate
              td
                a(href="/" + global.settings.dbName + "/customer/?id=" + x._id)=x.brand
              td=x.type
              td=x.avnode
              td=x.country
              td
                each website in x.websites
                  a(href=website)!=website
              td
                each contact in x.contacts
                  p(style="white-space: nowrap;")
                    span!=contact.name + " " + contact.surname + " &lt;" + contact.email + "&gt;"
                    !=" "
                    span.label.label-info!=contact.lang
                    !=" "
                    each type in contact.types
                      span.label.label-default!=type

              td
                each partnership in x.partnerships
                  p
                    b=partnership.name
                    br
                    !=partnership.group
                    br
                    !=partnership.status
                  if partnership.notes!=""
                    p
                      b=__("Notes")
                      br
                      !=partnership.notes
              td
                each channel in x.channels
                  p!=channel.profilename+" "+channel.type+" "+channel.url
