doctype xml
ns2:FatturaElettronica(versione='FPR12', xmlns:ns2='http://ivaservizi.agenziaentrate.gov.it/docs/xsd/fatture/v1.2')
  - var d = result.doc_date;                      
  FatturaElettronicaHeader
    DatiTrasmissione
      IdTrasmittente
        IdPaese=udata.countrycode
        IdCodice=udata.fiscal_code.toUpperCase()
      ProgressivoInvio=result.doc_number
      FormatoTrasmissione="FPR12"
      //valori ammessi: [FPA12] = fattura verso PA [FPR12] = fattura verso privati
      if result.doc_to.unique_code
        CodiceDestinatario=result.doc_to.unique_code
      if result.doc_to.pec
        PECDestinatario=result.doc_to.pec
    CedentePrestatore
      DatiAnagrafici
        IdFiscaleIVA
          IdPaese=_config.company.address.countrycode
          IdCodice=_config.company.vat_number
        CodiceFiscale=_config.company.fiscal_code
        Anagrafica
          Denominazione=_config.company.name.toUpperCase()
        RegimeFiscale="RF01"
      Sede
        Indirizzo=_config.company.address.street.toUpperCase()
        //numerocivico=_config.company.address.street
        CAP=_config.company.address.zipcode.toUpperCase()
        Comune=_config.company.address.city.toUpperCase()
        Provincia=_config.company.address.province.toUpperCase()
        Nazione=_config.company.address.countrycode
    CessionarioCommittente
      DatiAnagrafici
        IdFiscaleIVA
          IdPaese=result.doc_to.address.countrycode
          IdCodice=result.doc_to.vat_number.toUpperCase()
        CodiceFiscale=result.doc_to.fiscal_code.toUpperCase()
        Anagrafica
          Denominazione=result.doc_to.name.toUpperCase()
      Sede
        Indirizzo=result.doc_to.address.street.toUpperCase()
        CAP=result.doc_to.address.zipcode.toUpperCase()
        Comune=result.doc_to.address.city.toUpperCase()
        Provincia=result.doc_to.address.province.toUpperCase()
        Nazione=result.doc_to.address.countrycode
  FatturaElettronicaBody
    DatiGenerali
      DatiGeneraliDocumento
        TipoDocumento="TD01"
        // TD04 nota di credito
        Divisa="EUR"
        Data=d.getUTCFullYear()+"-"+(("0" + (d.getUTCMonth()+1)).slice(-2))+"-"+(("0" + (d.getUTCDate())).slice(-2))
        Numero=result.doc_number
        ImportoTotaleDocumento=parseFloat(result.total).toFixed(2)
    DatiBeniServizi
      - var ImponibileImporto = 0
      - for(a=0;a<result.items.length;a++)
        DettaglioLinee
          NumeroLinea=(a+1)
          Descrizione=result.items[a].description.toUpperCase()
          Quantita=parseFloat(result.items[a].quantity).toFixed(2)
          PrezzoUnitario=parseFloat(result.items[a].price).toFixed(2)
          - ImponibileImporto+=parseFloat(result.items[a].amount)
          PrezzoTotale=parseFloat(result.items[a].amount).toFixed(2)
          AliquotaIVA=parseFloat(result.vat_perc).toFixed(2)
      DatiRiepilogo
        AliquotaIVA=parseFloat(result.vat_perc).toFixed(2)
        ImponibileImporto=parseFloat(result.subtotal).toFixed(2)
        Imposta=parseFloat(result.vat_amount).toFixed(2)
        EsigibilitaIVA="I"
    if result.bank && result.bank.name
      DatiPagamento
        CondizioniPagamento="TP02"
          // [TP01]: pagamento a rate
          // [TP02]: pagamento completo
          // [TP03]: anticipo
        DettaglioPagamento
          Beneficiario=_config.company.name.toUpperCase()
          ModalitaPagamento="MP05"
          DataRiferimentoTerminiPagamento=d.getUTCFullYear()+"-"+(("0" + (d.getUTCMonth()+1)).slice(-2))+"-"+(("0" + (d.getUTCDate())).slice(-2))
          - var d2 = new Date(d.getTime()+(60*24*60*60*1000))
          GiorniTerminiPagamento=result.payment_days
          DataScadenzaPagamento=d2.getUTCFullYear()+"-"+(("0" + (d2.getUTCMonth()+1)).slice(-2))+"-"+(("0" + (d2.getUTCDate())).slice(-2))
          ImportoPagamento=parseFloat(result.total).toFixed(2)
          IstitutoFinanziario=result.bank.name
          IBAN=result.bank.IBAN
          CAB=result.bank.CAB
          ABI=result.bank.ABI
          
          