extends layout_pdf
block content
	//header#pageHeader
		.logo
			- if(_config.company.logo)
				img(src='file://' + global.settings.root_path+'/warehouse/accounts/' + global.settings.dbName + '/' + _config.company.logo, alt=_config.company.name)
			- else
				span=_config.company.name
		.company_row1!=_config.company.row1
		.company_row2!=_config.company.row2
	.cntPadd
		section.print_data.clearfix
			table
				tr
					td.nowrap.muted=__("Invoice n°")
					td(colspan="3").nowrap.paddingleft=result.doc_number
				tr
					td.nowrap.muted=__("Invoice date")
					- d = result.doc_date;
					td(colspan="3").paddingleft.paddingright=d.getUTCDate()+"/"+(d.getUTCMonth()+1)+"/"+d.getUTCFullYear()
				tr
					td.nowrap.muted=__("From")
					td.paddingleft.paddingright
						b=(result.doc_from.name+" ")
						br
						span=result.doc_from.address.street+" "+result.doc_from.address.city+" "+result.doc_from.address.country
					td.paddingleft.nowrap.muted=__("To")
					td.paddingleft
						b=(_config.company.name+" ")
						br
						span=_config.company.address.street+" "+_config.company.address.city+" "+_config.company.address.country
				tr
					td.nowrap.muted=__("VAT number")
					td.paddingleft=result.doc_from.vat_number
					td.paddingleft.nowrap.muted=__("VAT number")
					td.paddingleft=_config.company.vat_number
				- if(country=="Italy")
					tr
						td(colspan="2").nowrap.muted=__("Fiscal code")
						td(colspan="2")=result.doc_from.fiscal_code
			//table.print_data_col2
				tr
					td.nowrap.muted=__("Payment")
					td=result.payment
				- if (typeof result.destination!=="undefined")
					tr
						td.nowrap.muted=__("Shipped to")
						td=result.destination
				- if (typeof result.offer!=="undefined")
					tr
						td.nowrap.muted=__("Offer number")
						td=result.offer.doc_number
					tr
						td.nowrap.muted=__("Offer date")
						- d = result.offer.doc_date;
						td=(d ? d.getUTCDate()+"/"+(d.getUTCMonth()+1)+"/"+d.getUTCFullYear() :"")
				- if (typeof result.delivery_date!=="undefined")
					tr
						td.nowrap.muted=__("Delivery date")
						- d = result.delivery_date;
						td=(d ? d.getUTCDate()+"/"+(d.getUTCMonth()+1)+"/"+d.getUTCFullYear() :"")
		section.print_items
			table.table
				thead
					tr
						th.muted=__("Quantity")
						th.muted=__("Description")
						th.muted=__("Price")
						th.muted=__("Amount")
						th.muted=__("VAT %")
				tbody
					- var a = 0
					- for(a=0;a<result.items.length;a++)
						tr
							td.quantity=result.items[a].quantity
							td.description(id="description_"+a)
								if result.items[a].description
									!=result.items[a].description.replace(/\n/g,"<br />")
								!="<br />"
								if result.items[a].DataInizioPeriodo
									- var d = result.items[a].DataInizioPeriodo;
									!=__("FROM")+" "+d.getUTCDate()+"/"+(d.getUTCMonth()+1)+"/"+d.getUTCFullYear()
								if result.items[a].DataFinePeriodo
									if result.items[a].DataInizioPeriodo
										!=" > "
									- var d = result.items[a].DataFinePeriodo;
									!=__("TO")+" "+d.getUTCDate()+"/"+(d.getUTCMonth()+1)+"/"+d.getUTCFullYear()
							td.price
								div=_config.currency[0]+" "+result.items[a].price
							td.price
								div=_config.currency[0]+" "+result.items[a].amount
							td.price
								div=result.items[a].vat_perc+"%"
				tfoot
					tr
						td(colspan="3")
							.pull-right.muted=__("Subtotal")
						td.price
								div=_config.currency[0]+" "+result.subtotal
						td
					tr
						td(colspan="3")
							.pull-right.muted=__("VAT")
						td.price
								div=_config.currency[0]+" "+result.vat_amount
						td
					if result.shipping_costs!="0,00"
						tr
							td(colspan="3")
								.pull-right.muted=__("Shipping costs")
							td.price
									div=_config.currency[0]+" "+result.shipping_costs
							td
					tr
						td(colspan="3")
							.pull-right.muted=__("TOTAL")
						td.price
								div=_config.currency[0]+" "+result.total
						td
	footer#pageFooter
		b=__("Bank")
		br
		- for (a=0;a<_config.banks.length;a++)
			- if (_config.banks[a]==result.bank)
				span=_config.banks[a]
